.body{
    margin: 0;
}
*{
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(219, 214, 214);
    margin: 168px 205px; 
}
.row-one > div{
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 50px;
    margin: 16px;
    border-radius: 7px;
 
}
.row-one {
    display: flex;
    flex-wrap: wrap;
    margin: 86px 205px ;
}
.more{
    font-size: 20px;
    color: rgb(60, 60, 90);
    font-family: cursive;
    font-weight: bold;
    margin: 0 0 -77px 200px;
    padding-top: 23px;
}


.icon-name{
    margin: 0px -57px;
    font-size: 12px;
    text-align: center;
    padding-top: 23px;
    color: #412d69;
}

.item{
    display: flex;
    align-items: center;
    flex-direction: column;   
}
.fa-solid{
    margin-top: -27px;
    font-size: 25px;
    color: #412d69;
}


/* @media only screen and (max-width:1440px) {
    .item {
      width: 12.5%;
    }
  } */

/* @media only screen and (max-width:600px) {
    .item {
      width: 20%;
    }
  } */

/* @media only screen and (max-width:480px) {
    .item {
      width: 25%;
    }
  } */
/* 
@media only screen and (max-width:425px) {
    .item {
      width: 33.33%;
    }
  } */
/*   
 @media only screen and (max-width:320px) {
    .item {
      width: 50%;
    }
    .fa-solid{
        font-size: 15px;
    }
  } 


   